<!-- main.html contains all necessary css or javascript links -->
{% include "main.html" %}

<!-- header.html includes the header -->
{% include "header.html" %}

	<div class="editItem">

	<h1>Edit {{item.name}} Item</h1>

	<form action="{{url_for('editItem', category_id= item.category_id,item_id= item.id)}}" method="POST">
		
		<input type="text" name="name" placeholder="{{item.name}}" required>
		
		<input type="text" name="price" placeholder="{{item.price}}" required>
		
		<input type="text" name="desc" placeholder="{{item.desc}}" required>

		<input type="submit" value="Edit item">
	</form>

	</div>

<!-- footer.html contains html page ending tags -->
{% extends "footer.html" %}